<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Genify</title>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="brand-logo">
        <img class="logo-img" src="images/logo.png" alt="Genify Logo">
        <span>Genify</span> 
      </div>
      <p class="service-text">Your Content Generation Service</p>
    </div>
  </header>

  <div class="container">
    <section class="hero-section">
      <div class="hero-content">
        <h2>Unlock Your Brand's Potential</h2>
        <p>Let us create stunning, personalized content that speaks to your audience.</p>
        <a href="#features" class="cta-btn" id="getStartedBtn">Get Started</a>
      </div>
    </section>

    <div class="container">
      <h2>How We Can Help You</h2>
      <section id="features" class="features">
        <div class="feature" style="background-image: url('images/HQad.jpg');">
          <h3>High-Quality Content</h3>
          <p>We generate top-notch, eye-catching images and graphics for your needs.</p>
        </div>
        <div class="feature" style="background-image: url('images/HQad.jpg');">
          <h3>Quick Turnaround</h3>
          <p>Our efficient team ensures speedy delivery of your content without compromising quality.</p>
        </div>
        <div class="feature" style="background-image: url('images/HQad.jpg');">
          <h3>Customization</h3>
          <p>Get content tailored to your brand and requirements for maximum impact.</p>
        </div>
      </section>
      <section class="cta-section">
        <h2>Ready to Get Started?</h2>
        <p>Reach out to us via email:</p>
        <a href="mailto:janczosnowski77@gmail.com" class="cta-btn">janczosnowski77@gmail.com</a>
      </section>
    </div>
  </div>

  <script src="script.js"></script>
  <footer>
    <p>&copy; 2023 Genify. All rights reserved.</p>
  </footer>
</body>
</html>
