/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #25283c; /* Dark blue-purplish background color */
  color: #f0f0f0; /* Light text color */
}

.container {
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #1c1f2d; /* Darker blue-purplish header background color */
  color: #f0f0f0; /* Light text color */
  padding: 1rem 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}


.logo-img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}


/* Navbar Styles */

.brand-logo {
  display: flex;
  align-items: center;
  margin: 5px; /* Adjust the spacing between brand and links */
  margin-right: 20px;
}

.brand-logo span {
  font-size: 1.8rem;
}

/* Navbar Links Styles */
.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links ol {
  flex-wrap: wrap;
  list-style: none; /* Remove default bullets */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links li {
  margin: -2px;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #1a1a2a; /* Darker blue-purplish header background color */
  color: #f0f0f0; /* Light text color */
  padding: 1rem 0;
  display: flex;
  justify-content: space-between; /* Align brand logo and links */
  align-items: center; /* Vertically center the content */
}

.navbar-content {
  display: flex;
  align-items: center; /* Vertically center the content */
}

/* Navbar Buttons Styles */
.nav-links a {
  text-decoration: none;
  color: #ff4500; /* Orange text color */
  transition: color 0.3s ease; /* Add transition for text color */
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #1a1a2a; /* White background color */
}

.nav-links a:hover {
  color: #fff; /* Change text color on hover to white */
  background-color: #ff4500; /* Change background color on hover to orange */
}

/* Dark Mode dark-mode-toggle Button */
.dark-mode-toggle {
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  
/*  white transparent for Safari  */
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
}

.sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #f0f0f0 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
  transform: rotate(45deg);
}

.sun.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
    
.moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 12.5%;
  top: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 9px 3px 0px 0px #f0f0f0;
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.star {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);  
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}

.star:before {
  border-bottom: 5px solid #f0f0f0;
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: rotate(-70deg);
  content: '';
}

.moon.visible .star {
  opacity: .8;
/*   transform: rotate(35deg); */
}

.star.small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 50%;
  left: 37.5%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}

.moon.visible .star.small {
  opacity: .7;
  transform: scale(0.45) rotate(35deg);
}
/* CTA Button Styles */
.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for background and text color */
}

.cta-btn:hover {
  background-color: #fff; /* Change background color on hover */
  color: #ff4500; /* Change text color on hover */
}

/* Main Content Styles */
main {
  padding: 2rem 0;
}

.hero-section {
  background-color: #1a1a2a;
  color: #f0f0f0;
  text-align: center;
  padding: 5rem 0;
}



.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.cta-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #ff6347;
}

/* New Styles for "How We Can Help You" Section */
h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #FF5733; /* Warm and highly saturated color for the text */
  text-shadow: 0 0 1px rgba(255, 165, 0, 0.4), 0 0 2px rgba(255, 165, 0, 0.3), 0 0 3px rgba(255, 165, 0, 0.2), 0 0 4px rgba(255, 165, 0, 0.1); /* Less visible text shadow effect */
}


.container h2{
  text-align: center;
}

/* Features Section Styles */
.features {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.feature {
  flex-basis: 30%;
  background-color: #060606; /* Very dark background color */
  color: #f0f0f0; /* Light text color */
  text-align: center;
  padding: 3rem 0;
  margin: 12px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the feature boxes */
  min-height: 500px; /* Minimum height of 500px */
  min-width: 280px;
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  background-size: cover;
}

.feature h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.feature p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

/* CTA Section Styles */
.cta-section {
  text-align: center;
  padding: 5rem 0;
  background-color: #1a1a2a;
  color: #f0f0f0;
}

.cta-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cta-section p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Pricing Section Styles */
.pricing-section {
  text-align: center;
  padding: 5rem 0;
  background-color: #1a1a2a;
  color: #f0f0f0;
}

.pricing-section h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.pricing-plan {
  flex-basis: 40%;
  background-color: #1a1a2a;
  color: #f0f0f0;
  text-align: center;
  padding: 3rem 0;
  border-radius: 8px;
}

.pricing-plan h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.pricing-plan p {
  font-size: 1.2rem;
  line-height: 1.6;
}
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #121836;
  color: #f0f0f0;
}

/* Dark Mode dark-mode-toggle Button */
.dark-mode-dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff4500;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode-dark-mode-toggle:hover {
  background-color: #ff6347;
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .brand-logo {
    margin-bottom: 10px;
  }



  div.nav-links ol {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center the links vertically */
  }

  div.nav-links li {
    margin: 2px;
    font-size: 12px;
    margin-bottom: 10px;
    list-style: none; /* Show the list items as a horizontal list */
    padding: 0 1rem; /* Add some spacing between the links */
  }

  .dark-mode-dark-mode-toggle {
    top: 10px;
    right: 10px;
  }
}
/* Global Styles */
body.light-mode {
  background-color: #f0f0f0; /* Light gray background color */
  color: #000000; /* Black text color */
}

/* Header Styles for Light Mode */
body.light-mode header {
  background-color: #f0f0f0; /* Light gray header background color */
  color: #000000; /* Black text color */
}

/* Navbar Styles for Light Mode */
body.light-mode .navbar {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #000000; /* Black text color */
}

/* Hero Section Styles for Light Mode */
body.light-mode .hero-section {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #000000; /* Black text color */
}

/* Navbar Buttons Styles for Light Mode */
body.light-mode .nav-links a {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #ff4500; /* Orange text color */
}

/* Dark Mode dark-mode-toggle Button Styles for Light Mode */
body.light-mode button.dark-mode-toggle {
  background-color: #ff4500; /* Orange background color */
  color: #fff; /* White text color */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8); /* Black shadow */
}

/* Dark Mode dark-mode-toggle Icon Styles for Light Mode */
body.light-mode .sun {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
}

body.light-mode .moon {
  box-shadow: 9px 3px 0px 0px #f0f0f0;
}


/* Navbar Links Styles for Light Mode */
body.light-mode .nav-links a {
  color: #000000; /* Black text color */
  background-color: #f0f0f0; /* Light gray background color */
  margin:2px;
}

body.light-mode .nav-links a:hover {
  color: #ff4500; /* Orange text color on hover */
  background-color: #fff; /* White background color on hover */
}


/* Features Section Styles for Light Mode */
body.light-mode .feature {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #f0f0f0; /* Light text color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the feature boxes */
}

/* CTA Section Styles for Light Mode */
body.light-mode .cta-section {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #000000; /* Black text color */
}

/* Pricing Section Styles for Light Mode */
body.light-mode .pricing-section {
  background-color: #f2f5f9; /* Soft blue-gray background color */
  color: #000000; /* Black text color */
}


/* Footer Styles for Light Mode */
body.light-mode footer {
  background-color: #121836; /* Dark blue-purplish footer background color */
  color: #f0f0f0; /* Light text color */
}

/* Light Mode dark-mode-toggle Styles for Light Mode */
body.light-mode .sun {
  background-color: rgba(0, 0, 0, 0); /* Transparent background color for sun */
  box-shadow: 9px 3px 0px 0px #f0f0f0; /* Light gray shadow for moon */
}

body.light-mode .moon {
  box-shadow: 9px 3px 0px 0px #f0f0f0; /* Light gray shadow for moon */
}

body.light-mode .star {
  border-bottom: 5px solid #f0f0f0; /* Light gray color for star */
}

body.light-mode .star:before {
  border-bottom: 5px solid #f0f0f0; /* Light gray color for star */
}

body.light-mode .star:after {
  border-bottom: 5px solid #f0f0f0; /* Light gray color for star */
}

body.light-mode .star.small {
  opacity: .7;
}

body.light-mode .moon.visible .star {
  opacity: .8;
}

body.light-mode .moon.visible .star.small {
  opacity: .7;
}

/* Hero Section Styles for Light Mode */
body.light-mode .hero-section {
  background-color: #f0f0f0; /* Light gray background color */
  color: #000000; /* Black text color */
}
